/*
Copyright 2023 Adobe
All Rights Reserved.
NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/

header {
  position: relative;
}

header .promo-banner-content {
  background-color: #015699;
  min-height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

header .promo-banner-content ul {
  list-style: disc;
  display: flex;
  flex-direction: row;
}

header .promo-banner-content li {
  color: white;
  font-family: SourceSansPro, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

header .logo {
  padding: 30px 0;
  text-align: center;
}

header .logo img {
  width: 340px;
  margin: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateY(-50%);
  transform: translateX(-50%);
}

header nav.main-navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

header nav.main-navigation ul > li {
  padding: 0 5px;
}
